@page "/Customers"

<h3>Customers</h3>



<body>

    <div class= "customers-content">
    <section class="card-list">
        <article class="card">
            <header class="card-header">
                <p>Distell Wadeville</p>
                <h2>We sell state of the art drinks</h2>
            </header>

        </article>
    </section>
    
    <section class="card-list">
        <article class="card">
            <header class="card-header">
                <p>Vector logistics</p>
                <h2>If you want your product shipped talk to us</h2>
            </header>

        </article>
    </section>
    
    <section class="card-list">
        <article class="card">
            <header class="card-header">
                <p>PepsiCo</p>
                <h2>The finest chips in the country</h2>
            </header>

        </article>
    </section>
    
    <section class="card-list">
        <article class="card">
            <header class="card-header">
                <p>Nestle</p>
                <h2>We sell the best chocolate in the world</h2>
            </header>

        </article>
    </section>
</div>

</body>