@{
    ViewData["Title"] = "Bussiness IT Solutions";
}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Card.css" />
  </head>

<div class= "content">
        <h2>STRATO IT Group provides business system solutions that are fit for purpose, seamlessly integrated and cost effectively implemented and supported.<br />
        STRATO engages with organisations seeking to improve their competitiveness, performance and productivity.
        </h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br /> 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br />
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <hr />
</div>

<div class="card-list">
    <article class="card">
        <header class="card-header">
            <P>Distell </P>
            <h3>We serve the best alcoholh</h3>

        </header>
    </article>


    <article class="card">
        <header class="card-header">
            <P>Vector </P>
            <h3>We Deliver on time</h3>

        </header>
    </article>
    <article class="card">
        <header class="card-header">
            <P>Nestle </P>
            <h3>We serve the best Chocolate</h3>

        </header>
    </article>


    <article class="card">
        <header class="card-header">
            <P>Pesico </P>
            <h3>We serve the best chips and drinks</h3>

        </header>
    </article>

</div>